<div class="header">
  <h1><a href="#/drivers"/> Formula-I 2013 Stats </a></h1>
<img class="redcar" ng-src="source/img/redcar.png" />
</div>
<section id="main">

  <a class="back2main" href="#/drivers"> &#60; Back to drivers list</a>

  <nav id="secondary" class="main-nav">
    <div class="driver-picture">
      <div class="avatar">
        <img ng-show="driver" src="source/img/drivers/{{driver.Driver.driverId}}.png"/>
        <!-- <img ng-show="driver" src="{{driver.flagUrl}}"/> <br /> -->
        <img class="flag" ng-src="{{driver.flagUrl}}"/> <br />
        {{driver.Driver.givenName}} {{driver.Driver.familyName}}
      </div>
    </div>

    <div class="driver-status">
      Country: {{driver.Driver.nationality}} <br />
      Team: {{driver.Constructors[0].name}} <br />
      Birth: {{driver.Driver.dateOfBirth}} <br />
      <a href="{{driver.Driver.url}}" target="_blank">Biography</a>
    </div>
  </nav>

  <div class="main-content table-container table-responsive">
    <table class="table table-border table-striped table-hover result-table">
      <thead>
        <tr><th colspan="5">Formula 1 2013 Results</th></tr>
        <!-- <tr><th colspan="5">Formula 1 {{selectedYear}} Results</th></tr> -->

      </thead>
      <tbody>
        <tr>
          <th>Round</th> <th>Grand Prix</th> <th>Team</th> <th>Grid</th> <th colspan="4">Race</th>
        </tr>
        <tr ng-repeat="race in races">
          <td>{{race.round}}</td>
          <td><img class="flag" ng-src="{{race.flagUrl}}"/> {{race.raceName}}</td>

          <!-- <td><img src="img/flags/{{race.Circuit.Location.country}}.png"/> {{race.raceName}}</td> -->
          <!-- <td>{{race.Results[0].Consturctor.name}}</td>  not sure why this line does not work but the others do-->
          <td>{{races[0].Results[0].Constructor.name}}</td>

          <td>{{race.Results[0].team}}</td>
          <td>{{race.Results[0].grid}}</td>
          <td>{{race.Results[0].position}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
