<input type="text" ng-model="nameFilter" placeholder="Search..."/>
<table>
  <thead>
    <tr><th colspan="4">Drivers Championship Standings</th></tr>
  </thead>
  <tbody>
    <tr ng-repeat="driver in driversList | filter: searchFilter" class="driver" data-id="{driver.Driver.nationality}">
      <td>{{$index + 1}}</td>
      <td>
        <img src="img/flags/{{countries-json[driver.Driver.nationality]}}.gif"/>

        <a href="#/drivers/{{driver.Driver.driverId}}">
          {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
        </a>
      </td>

      <td>{{driver.Constructors[0].name}}</td>
      <td>{{driver.points}}</td>
    </tr>
  </tbody>
</table>
<script>
  $(function(){
      $(".driver").each(function(k, v){
          console.log(v)
          console.log(v.attr("data-id"));

      })
  });
</script>
