.flag{
  width: 10%;
}


.points{
  margin-bottom: 1%;
}

.search{
  margin-bottom: 2%;
}

.points-column{
  margin-left: 20%;
  /*margin-right: 10%;*/
}


.header-standings{
  margin-bottom: 7%;

}


.heading2{
  margin-left: 25px;
}


.container{
padding: 0px;
margin: 0 auto;
}

h1{
  margin:0;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.search{
  margin-left: 2%;
}

.main-nav{
  margin-left: 2%;
  margin-top: 2%;
}

.back2main{
  margin-left: 2%;
}
