.flag{
  width: 10%;
}


.points{
  margin-bottom: 1%;
}

.search{
  margin-bottom: 2%;
}

.points-column{
  margin-left: 20%;
  /*margin-right: 10%;*/
}


.header-standings{
  margin-bottom: 7%;

}


.heading2{
  margin-left: 25px;
}
