html{
  background: url("source/img/backgrounds/redsquareback2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.redcar{
  /*width: 100%;*/
  opacity: 1;

}
body{
  /*opacity: .7;*/
}

a:hover{
  text-decoration: none;
}

a{
  /*color: black;*/
}

.header{
  background-color: black;
  font: red;
  opacity: .9;
}

.container{
  /*background-color: black;*/
}



p, body{
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 20px;
}

h1, h1 a{
  font-family: 'Audiowide', cursive;
  color: red;
}


/*tr:hover, tr.ng-scope:hover,tr td.ng-binding:hover{
background-color: black;
opacity: 1;
color: red;
}


body > ng-view > div > div > table > tbody > tr:nth-child(1):hover{
background-color: black;
opacity: 1;
color: red;

}*/


/*table *:after{
opacity: 1.0;
}

tr{
opacity: 1;
}*/
